/* _animations.scss */
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
}

.fa-spotify {
  transition: transform 0.5s ease-in-out;
}

.fa-spotify:hover {
  transform: rotate(360deg);
}

.cards__episodes__images:hover {
  transition: transform 0.3s ease-in-out;
}

.cards__episodes__images:hover {
  filter: brightness(40%);
  transform: scale(1.02);
}

.title__collection {
  /* Set default color */
  transition: color 0.5s ease-in-out;
}

.title__collection:hover {
  color: white;
  /* Set hover color */
}

.episode__display {
  transition: filter 0.5s ease-in-out;
}

.episode__display:hover {
  filter: brightness(40%);
}

body {
  position: relative;
  height: 100vh;
}

/* _animations.scss */
.header {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/amsterdam.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  width: 100%;
  height: 90vh;
}

.header__buttons-container {
  flex-wrap: wrap;
  padding-top: 2rem;
  display: flex;
  gap: 10rem;
  height: 10%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.header__button {
  width: auto;
  color: white;
  font-family: sans-serif;
  background: none;
  border: none;
  font-size: 3rem;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
  position: relative;
}
.header__button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px; /* Adjust the underline thickness as needed */
  background-color: white;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
}
.header__button:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
  opacity: 1;
}

.header__logo {
  padding-top: 1rem;
  height: 10rem;
  width: 10rem;
  transition: 0.2s;
}
.header__logo:hover {
  transform: scale(1.1);
}

.header__title {
  font-family: sans-serif;
  position: absolute;
  color: white;
  font-size: 10rem;
  padding-left: 1rem;
  animation: slideFromLeft 1s ease-in-out; /* Animation duration and easing */
  top: 60%;
}

@keyframes slideFromLeft {
  from {
    left: -100%; /* Start from outside the left edge of the screen */
  }
  to {
    left: 0%; /* Move to the center of the screen */
  }
}
/* Add these styles to your existing stylesheet or create a new one */
.left-section {
  height: 80rem;
  width: 50%;
  margin-top: 3rem; /* Adjust spacing between sections */
}

.left-section h1 {
  font-family: sans-serif;
  font-size: 6rem;
  padding-left: 3rem;
  margin-bottom: 10px;
}

.left-section__article {
  position: relative; /* Add relative positioning to the article */
  display: flex;
  margin-left: 6rem;
  width: 40%;
  height: 69rem;
  background-color: #ded7d7;
}

.left-section__image {
  justify-content: flex-start;
  width: 8rem; /* Adjust image size */
  height: 8rem;
  padding-top: 1rem;
}

.left-section p {
  font-family: sans-serif;
  padding: 3rem;
  width: 90%;
  height: 5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0; /* Remove default margin for consistency */
  /* WebKit scrollbar styling */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #b6b0b0 #b6b0b0; /* For Firefox */
}

/* For WebKit browsers (Chrome, Safari) */
.left-section p::-webkit-scrollbar {
  width: 12px;
}

.left-section p::-webkit-scrollbar-thumb {
  background-color: #b6b0b0;
}

.left-section p::-webkit-scrollbar-track {
  background-color: #b6b0b0;
}

.left-section a {
  position: absolute; /* Add absolute positioning to the link */
  bottom: 0; /* Align to the bottom */
  right: 0; /* Align to the right */
  padding: 1rem; /* Adjust padding as needed */
  width: auto;
  color: rgb(0, 0, 0);
  text-decoration: underline;
  cursor: pointer;
}

.left-section a:hover {
  color: rgb(255, 0, 0);
}

/* Add these styles to your existing stylesheet or create a new one */
.footer {
  background-color: #333;
  color: white;
  padding: 20px;
}

.footer__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Adjust as needed */
}

.footer__item {
  padding: 1rem;
  margin-right: 20px; /* Adjust spacing between items */
  text-align: center; /* Adjust alignment as needed */
}

.footer__item:last-child {
  margin-right: 0; /* Remove right margin for the last item */
}

h4, p, a {
  margin: 0; /* Remove default margin for consistency */
}

@media screen and (max-width: 62.5rem) {
  body {
    height: 100vh;
    position: relative;
  }
  .header__title {
    font-family: sans-serif;
    position: absolute;
    color: white;
    font-size: 5rem;
    padding-left: 5rem;
    animation: slideFromLeft 1s ease-in-out; /* Animation duration and easing */
    top: 60%;
  }
  .title__collection {
    display: flex;
    justify-content: center;
    height: 4rem;
    font-size: 2rem;
    position: relative;
    z-index: 1;
  }
  .fa-spotify {
    font-size: 2.3rem;
  }
  .main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 98%;
    height: 140vh;
    background: white;
    border-radius: 1.7%;
    z-index: 0;
    display: flex;
    justify-content: center; /* Add this line */
    align-items: center; /* Add this line */
  }
  .left__section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 105%;
    width: 50%;
    padding-top: 15rem;
  }
  .collection__article {
    display: flex;
    flex-direction: column-reverse;
    gap: 3rem;
  }
  .collection__cards {
    display: grid;
    flex-wrap: wrap;
    align-items: center;
    width: 169%;
    height: 0rem;
  }
  .cards__episodes {
    transition: filter 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; /* add this line */
  }
  .cards__episodes__images {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    cursor: pointer;
  }
  .cards__episodes__images:hover {
    filter: brightness(100%);
  }
  .date {
    position: absolute;
  }
  .title {
    position: absolute;
  }
  .date-right {
    display: flex;
    justify-content: flex-end;
    font-size: 2.5rem;
    top: 8%;
  }
  .title-right {
    display: flex;
    justify-content: flex-start;
    font-size: 2.5rem;
  }
  .right__section {
    display: flex;
    position: absolute;
  }
  .episode__container {
    width: 150%;
    height: 80rem;
  }
  .episode__banner {
    align-items: center;
    justify-content: center;
    width: 133.3%;
    height: 20rem;
    background: gray;
    object-fit: contain;
    overflow: scroll;
  }
  .episode__display {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20rem;
  }
  .episode__paragraph {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 120%;
    height: 17%;
    font-size: 1rem;
    overflow: scroll;
    gap: 3rem;
  }
  .source__button {
    cursor: pointer;
    font-size: 1.9rem;
    border: none;
    position: absolute;
    left: -47%;
    top: 55%;
  }
  .audio__tag {
    position: absolute;
    bottom: 51%;
    padding-left: 1rem;
    width: 28rem;
  }
  footer {
    position: absolute;
    left: 0;
    font-size: 1.8rem;
    text-align: center;
    bottom: -16rem;
  }
}

/*# sourceMappingURL=style.css.map */
