@use "../abstracts/mixins"; // Adjust the path as needed

.footer {
  background-color: #605f5f;
  color: white;
  padding: 20px;
}

.footer__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 98%;
  justify-content: space-between;
}

.footer__item {
  a {
    position: relative;
    top: 0.3rem;
    color: rgb(255, 255, 255);
    text-decoration: underline;
    @include mixins.underlineAnimation;
  }
}

.footer__item:last-child {
  width: 30rem;
}

h4,
p,
a {
  margin: 0;
}
