/* Add these styles to your existing stylesheet or create a new one */
@import "../abstracts/mixins";

.left-section {
  height: 80rem;
  width: 50%;
  margin-top: 3rem; /* Adjust spacing between sections */
}

.left-section h1 {
  font-family: sans-serif;
  font-size: 6rem;
  padding-left: 3rem;
  margin-bottom: 10px;
}

.left-section__article {
  position: relative;
  display: flex;
  margin-top: 7rem;
  margin-left: 5rem;
  width: 45%;
  height: 60rem;
  background-color: rgba(252, 241, 241, 0.799), 255, 255;
  @include box-shadowing;
}

.left-section__image {
  justify-content: flex-start;
  width: 8rem; /* Adjust image size */
  height: 8rem;
  padding-top: 1rem;
}

.left-section p {
  font-family: sans-serif;
  padding-right: 2rem;
  padding-top: 5rem;
  width: 80%;
  height: 3rem;
  font-size: 2.3rem;
  justify-content: center;
  align-items: center;
  margin: 0;
  scrollbar-width: thin;
  scrollbar-color: #b6b0b0 #b6b0b0;
}

/* For WebKit browsers (Chrome, Safari) */
.left-section p::-webkit-scrollbar {
  width: 12px;
}

.left-section p::-webkit-scrollbar-thumb {
  background-color: #b6b0b0;
}

.left-section p::-webkit-scrollbar-track {
  background-color: #b6b0b0;
}

.left-section a {
  position: absolute; /* Add absolute positioning to the link */
  bottom: 0; /* Align to the bottom */
  right: 0; /* Align to the right */
  padding: 2.5rem; /* Adjust padding as needed */
  width: auto;
  color: rgb(56, 56, 56);
  text-decoration: underline;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.left-section a:hover {
  color: rgb(0, 0, 0);
}
